//Color
$header-bg: #081b2a;
$secondary-btn-bg: #fff;
$primary-btn-bg: #FF719C;
$light: #fff;
$hero-gradient-one: #6985F6;
$hero-gradient-two: #CE8DFF;
$heading-text: #1D1D2A;
$body-text: #3A3A55;
$features-one: #60BFDD;
$features-two: #CE8DFF;
$features-three: #8FA6FF;
$features-four: #FF719C;
$light-background: #f8fafc;
$border-color: #ced4da;
$form-bg: #f8f9fa;
$rating: #ffcc00;
$dark-bg: #1B2144;
$teal: #00e5d4;
$purple: #7937fc;
$orange: #f16a22;